.header-wrap {
  width: 100%;
  height: 81.95px;
  color: #fff;
  background: #4c394e;
  position: relative;
  z-index: 10;
  display: block;
}

.header {
  padding: 0px 10px;
  margin: 0px 39.6px;
  height: 100%;
}

.header .primary-wrap {
  padding: 15px;
}

.header .primary-wrap .brand-wrap {
  display: block;
  height: 51.95px;
  width: 278px;
  padding-right: 15px;
}

.header .primary-wrap .brand-link {
  width: 100%;
  display: block;
  height: 100%;
}

.header .primary-wrap .brand-link .logo {
  display: block;
  height: auto;
  width: 154px;
}

.search-wrap {
  height: 51.95px;
  width: 1112px;
}

#book-search-form {
  width: 100%;
}

.primary-wrap .search-wrap .advanced-search {
  max-height: 44px;
  line-height: 44px;
  white-space: nowrap;
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0px 15px;
  box-sizing: border-box;
}

.primary-wrap .search-wrap .advanced-search:hover {
    color: #fff;
    border: 1px solid #fff;
}

.primary-wrap .search-wrap .header-search-btn {
  min-width: 140px;
  height: 100%;
  margin: 0px 10px;
  background: #10bbd5;
  padding: 0px 17px;
  border: none;
  border-radius: 4px;
  color: #fff;
  transition: background 0.3s;
  cursor: pointer;
}

.primary-wrap .search-wrap .header-search-btn:hover {
    background: #29d5ef;
}


.el-wrap.header-search-el-wrap {
  height: 44px;
  position: relative;
}

.primary-wrap .search-wrap .header-search-el-wrap .text-input {
  color: #333;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding-left: 40px;
  display: inline-block;
  font-size: 15px;
}

.search-wrap-icon {
  position: absolute;
  height: 100%;
  width: 40px;
}

.primary-wrap .search-wrap .header-search-el-wrap .search-icon {
  color: #999;
  position: relative;
  display: block;
  max-height: 19px;
  max-width: 19px;
}
